#interface{
    background-color: white;
}
.home{
    width: 100px;
        height: 20px;
    border: 8px solid black;
    display: inline-block;
    background-color:black;
    color: whitesmoke;
    letter-spacing: 4px;
    word-spacing: 4px;

}


.img1{
    width: 1348px;
    height: 1080px;
    object-fit: cover;
    object-position: 50% 50%;
}
.back{
    background-color: black;
}
.bruce{
    color: violet;
    letter-spacing: 4px;
  word-spacing: 4px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
.imbrl{
    margin: 20px auto 30px auto;
    display: inline-block;
}
.imbrl1{
    margin: 20px auto 30px auto;
    display: inline-block;
}
.imbrlh{
    
    display: inline-block;
   margin-top: 50px;
}
.blhome{
            padding-top : 50px;
             padding-right : 50px;
             padding-bottom : 50px;
             padding-left : 50px;
    display: inline-block;
}
.blhome1{
    display: inline;
}
.video2{
    margin: auto  auto auto 200px ;
    display: inline;
} 
.about
 { 
    margin-top : 2px;
    margin-right : 2px;
    margin-bottom : 2px;
    margin-left : 2px;
    
    display: inline-block;
}
.info{
    display: inline-block;
}
.about1
 {
      border: 5px double;
    margin-top : 2px;
    margin-right : 2px;
    margin-bottom : 2px;
    margin-left : 2px;
    display: inline-block;
   
}
h1{
    color: cornflowerblue;
    display: inline-block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 250px;

}
.work1{
    font-size: 1rem;
    font-family: sans-serif;
    margin: 20px;
}
.text{
    display: inline-block;
}
.about2
 {
      border: 5px double;
    margin-top : 2px;
    margin-right : 2px;
    margin-bottom : 2px;
    margin-left : 2px;
    display: inline-block;
width: 700;
height: 500;
}
.par{
    display: inline-block;
}
.info2{
    color: cornflowerblue;
    display: block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0px;
}